<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <title>VUE JS</title>
</head>
<body>


<div class="container pt-5" id="container">
    <div class="row mb-5">
        <div class="col">
            <h1>Cars application</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="search">Find your cars</label>
                <input
                  type="text"
                  class="form-control"
                  id="search"
                  placeholder="Name, model ..."
                  v-model="search"
                >
            </div>
            <hr>
            <ul class="list-group">
                <li
                  v-for="(car, index) of filteredCars"
                  class="list-group-item list-group-item-action pointer"
                  v-on:click="selectCar(index)"
                  :class="{'active': selectedCarIndex === index}"

                >
                  {{ car.name}} - {{ car.model}}
                </li>
            </ul>
        </div>
        <div class="col-md-8 pt-3">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{car.name}}</h2>
                    <img
                      :src="car.image"
                      v-bind:alt="car.name"
                      class="rounded detailed-car-image"
                    >
                </div>
                <div class="col-md-6 ml-5">
                    <h5>Car details</h5>
                    <ul>
                        <li>Model -<strong>{{car.model}}</strong></li>
                        <li>Year -<strong>{{car.year}}</strong></li>
                        <li>owner -<strong>{{car.owner}}</strong></li>
                    </ul>
                  <div class="phone-block">
                    <p v-if="phoneVisibility">{{car.phone}}</p>
                  </div>
                    <button
                      class="btn btn-outline-success mr-3"
                      @click="phoneVisibility = !phoneVisibility"
                      v-text="phoneBtnText"
                    > </button>
                    <button class="btn btn-primary" @click="modelVisibility = true">Bye</button>
                </div>
            </div>
        </div>
    </div>

  <div class="modal fade show" v-if="modelVisibility" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Du you want to by this car?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="modelVisibility = false"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Current car - <strong>{{car.name}}</strong></p>
          <ul>
            <li>Model -<strong>{{car.model}}</strong></li>
            <li>Year -<strong>{{car.year}}</strong></li>
            <li>owner -<strong>{{car.owner}}</strong></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
          >
            Buy
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" v-if="modelVisibility"></div>


</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="/js/app.js"></script>
</body>
</html>